<h1>Welcome!</h1>
<h2>Ask something to your coach</h2>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Type question here">
  <input type="submit" value="Ask!">
</form>


